.navbar{
    margin-bottom: 0;
}
.title-color{
    padding: 0;
    height: 30px;
}
.cityhead{
    padding-left: 0;
}
a {
    text-decoration: none;
}

.meta-data > span
{
    border-right: 0;
}
.post-meta
{
    border-left: 3px solid #efefef;
    border-right: 3px solid #efefef;;
}
.rating {
    position: absolute;
    top: 15px;
    right: 2px;
}
.halyava {
    margin-left: 115px;
}
.upper {
    position: absolute;
    right: 20px;
    top: 5px;
}
.posts-archive .post {
    border: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 0;
}
.flex-caption .hero-agent-pic{
    border: 0;
}
/* services */
.panel
{
    position: relative;
}

.panel-default > .panel-leftheading
{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-primary > .panel-leftheading
{
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-success > .panel-leftheading
{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-info > .panel-leftheading
{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-warning > .panel-leftheading
{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.panel-danger > .panel-leftheading
{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.panel-leftheading
{
    width: 42px;
    padding: 10px 15px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
    height: 100%;
    position: absolute;
}

.panel-lefttitle
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 16px;
    color: inherit;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    white-space: nowrap;
}

.panel-rightbody
{
    float: left;
    margin-left: 45px;
    padding: 15px;
}
.row-content {
    word-break: keep-all;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.flex-caption .hero-agent-pic{
    left: -40px;
    right: 20px;
}
@media only screen and (max-width: 767px) {
    .flex-caption {
        margin-right: 0;
    }

    .flex-caption .hero-agent-contact {
        left: -40px;
        right: 230px;
    }

    .hero-agent {
        display: initial;
    }

    #back-to-top {
        right: 10px;
        bottom: 20px;
        padding: 16px 22px;
        background: rgba(245, 90, 78, 1);
    }
}
